* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
  background-color: #eee;
  font-size: 16px;
}
body {
  padding-inline: 40px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 280px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section--title {
  text-align: center;
  font-size: 2rem;
  color: #222;
}
.disabled {
  display: none;
}
/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
.header--menu {
  display: none;
}
.header--mobile-menu {
  position: absolute;
  right: 0;
  bottom: -250px;
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: #eee;
  border-radius: 8px;
}
.header--highdrone-logo {
  background-color: #eee;
  bottom: -35px;
  width: 60px;
  height: 60px;
  position: absolute;
  padding: 10px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}
.header--highdrone-logo img {
  width: 100%;
}
.header--drone {
  max-width: 150px;
  height: auto;
  object-fit: cover;
}
.header--title {
  color: #222;
}
.header--slogan {
  color: #001c30;
  font-weight: 500;
  font-size: 1rem;
}
.header--nav {
  display: flex;
  gap: 15px;
  font-size: 1rem;
}
.header--nav a {
  color: #000;
}
.header--nav a:hover {
  color: #b9c0c5;
}
/* HEADER */

/* IMAGES */
.images {
  display: flex;
  width: 100%;
  height: 70vh;
}
.images--item {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.images--item:hover {
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
/* IMAGES */

/* VIDEO */
.video iframe {
  width: 100%;
  height: 70vh;
  border-radius: 8px;
  border: none;
}
/* VIDEO */

/* ABOUT */
.about {
  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: space-between;
}
.about--section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about h1 {
  color: #222;
}
.about p {
  color: #222;
  line-height: 2.5rem;
  text-align: justify;
}
/* ABOUT */

/* EXAMPLES */
.examples {
  padding: 40px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("./assets/examples/examples-bg.jpeg"), lightgray 50% / cover no-repeat;
  background-attachment: fixed;

  border-radius: 8px;
}
.examples--item {
  width: 50%;
  max-width: 400px;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.2);
}
/* EXAMPLES */

/* SERVICES */
.services {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.services--item {
  display: flex;
  gap: 20px;
}
.services--item__img {
  max-width: 100%;
  min-width: 400px;
  height: auto;
  max-height: 250px;
  border-radius: 8px;
  object-fit: cover;
}
.services--item__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.services--item__info h3 {
  color: #222;
}
.services--item__info p {
  line-height: 2rem;
  text-align: justify;
}
/* SERVICES */

/* TOWN */
.town {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.town--main-img {
  width: 100%;
  height: 50vh;
  border-radius: 8px;
  background-image: url("./assets/town/town.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.town--list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.town--list__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.town--list__item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.town--list__item p {
  line-height: 2rem;
}
/* TOWN */

/* CLIENTS */
.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.clients--list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.clients--item {
  width: 30%;
  max-width: 300px;
  object-fit: contain;
}
/* CLIENTS */

/* TESTIMONIALS */
.testimonials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.testimonials--list {
  display: flex;
  justify-content: space-between;
}
.testimonials--item {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2rem;
  width: 25%;
}
/* TESTIMONIALS */

/* CONTACT */
.contact {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://images.unsplash.com/photo-1487304655522-c039cc299c9d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"),
    lightgray 50% / cover no-repeat;
  background-attachment: fixed;
}
.contact h1 {
  text-align: center;
  color: #eee;
}
.contact--social {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.contact--social__item {
  background-color: #eee;
  padding: 30px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
/* CONTACT */

/* MAP */
.map {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.map iframe {
  border-radius: 8px;
  width: 100%;
  height: 450px;
}
/* MAP */

/* FOOTER */
footer {
  border-top: 1px solid #ccc;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
footer p {
  text-align: center;
}
footer img {
  max-width: 150px;
}
.footer--contact-items {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.contact-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  text-align: center;
}
.contact-item img {
  width: 30px;
}
.footer-atention {
  width: 50%;
}
/* FOOTER */

/* MEDIA QUERIES */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  body {
    padding-top: 300px;
  }
  .images {
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
  }
  .images--item {
    width: 100%;
    height: 20%;
    max-height: 200px;
  }
  .images--item:hover {
    height: 25%;
    max-height: 250px;
  }
  .examples {
    flex-direction: column;
  }
  .examples > img {
    width: 100%;
    max-width: fit-content;
    height: auto;
  }
  .about {
    flex-direction: column;
  }
  .services--item {
    flex-direction: column-reverse;
  }
  .services--item__img {
    min-width: 300px;
  }
  .testimonials--list {
    flex-direction: column;
    gap: 20px;
  }
  .testimonials--item {
    width: 100%;
  }
  .contact--social__item {
    padding: 15px;
  }
}
@media (max-width: 600px) {
  body {
    padding-inline: 20px;
    padding-top: 120px;
  }
  header {
    flex-direction: row;
    padding-inline: 20px;
    justify-content: space-between;
  }
  .header--highdrone-logo,
  .header--title,
  .header--slogan,
  .header--nav {
    display: none;
  }
  .header--drone {
    width: 50px;
  }
  .header--menu {
    display: block;
    width: 35px;
  }
  .town {
    display: none;
  }
  .contact--social__item {
    padding: 5px;
  }
  .footer--contact-items {
    flex-direction: column;
  }
}
@media (max-width: 475px) {
  .clients--list {
    flex-direction: row;
    overflow-x: scroll;
    flex-wrap: nowrap;
  }
  .clients--item {
    width: 100%;
    border-radius: 8px;
  }
}
/* MEDIA QUERIES */
